body {
    display: block;
    text-align: center;
    color: #AAFF8C;
    font-family: Arial, Helvetica, sans-serif;
}

form, #responseJSON {
    padding: 1em;
    width: 16em;
    display: inline-block;
    margin: 1em;
    border-radius: 1.5em;
    background-color: #404040;
}

#responseJSON {
    width: 20.5em;
    display: none;
    margin: 1em auto;
}

h2 {
    margin: .5em 0 1em 0;
}

label {
    width: 3em;
    display: inline-block;
    margin-top: .25em;
}

input {
    width: 5.75em;
    border-radius: .25em;
    padding-left: .5em;
}

button {
    font: 1.2em;
    font-weight: bold;
    color: #404040;
    margin: 1em 0 .5em 0;
}

#fields {
    text-align: left;
    width: 8em;
    margin: 1em auto;
}

pre {
    display: block;
    width: 100%;
    text-align: left;
    padding: 0 1em 1em 1em;
}